#baseContent {
    display: grid;
    grid-template-rows: 40px 60px auto;

    .title {
        text-align: center;
        $letterSpace: 1em;
        h1 {
            padding-top: 0.5em;
            line-height: 15pt;
            font-size: 16pt;
            letter-spacing: $letterSpace - 0.5;
            text-indent: $letterSpace - 0.5;
            font-weight: 400;
        }
        h2 {
            margin: 0;
            padding: 0;
            padding-top: 0.2em;
            font-size: 32pt;
            letter-spacing: $letterSpace - 0.8;
            text-indent: $letterSpace - 0.8;
            font-weight: 400;
        }
    }
}
