html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Open Sans";
    color: $baseText;
    background-color: $baseBackground;
}
#app {
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
}

.center-content{
    width: 100%;
    text-align: center;
}